<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<div>
    <h1>Edit <%= usercreature.name %></h1>
    <section class='main'>
        <div class="firstcontainer">
            <img src="https://i.imgur.com/OW6eVPw.png" alt="Ark A logo with adult and baby dinosaurs climbing on it" id="logo">
        </div>
        <div id="content" class="secondcontainer">
            <div class="backgroundimage"></div>
            <div class="subcontainer">
                <form action="/creatures/<%= usercreature._id %>?_method=PUT" method="POST">
                    <label for="name" class="label">Name: </label>
                    <input type="text" name="name" id="name" value="<%= usercreature.name %>">
                    
                    <label for="level" class="label">Level: </label>
                    <input type="number" name="level" id="level" value="<%= usercreature.level %>">
                    
                    <label for="eats" class="label">Eats: <%= usercreature.eats %> </label>
                    <br>
                    <label for="health" class="label">Health: </label>
                    <input type="number" name="hB" id="health" value="<%= usercreature.bs.h.b %>">
                    
                    <label for="stamina" class="label">Stamina: </label>
                    <input type="number" name="sB" id="stamina" value="<%= usercreature.bs.s.b %>">
                    
                    <label for="oxygen" class="label">Oxygen: </label>
                    <input type="number" name="oB" id="oxygen" value="<%= usercreature.bs.o.b %>">
                    
                    <label for="food" class="label">Food: </label>
                    <input type="number" name="fB" id="food" value="<%= usercreature.bs.f.b %>">
                    
                    <label for="weight" class="label">Weight: </label>
                    <input type="number" name="wB" id="weight" value="<%= usercreature.bs.w.b %>">
                    
                    <label for="melee" class="label">Melee: </label>
                    <input type="number" name="dB" id="melee" value="<%= usercreature.bs.d.b %>">
                    
                    <label for="speed" class="label">Speed: </label>
                    <input type="number" name="mB" id="speed" value="<%= usercreature.bs.m.b %>">
    
                    <label for="torpor" class="label">Torpor: </label>
                    <input type="number" name="tB" id="torpor" value="<%= usercreature.bs.t.b %>">
                    
                    <button type="submit">Update Creature</button>
                </form>

            </div>
        </div>    
        <div id="description" class="thirdcontainer">
        
            <p>DESCRIPTION </p>
        </div>    
    </section>    
    <div>

    </div>    

</div>    



<%- include('../partials/footer.ejs') %>




