<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<div>
    
    <section class='main'>
        <div class="firstcontainer">
            <!-- <img src="" alt="" id="logo"> -->
            <p> LOGO </p>
        </div>
        <div id="content" class="secondcontainer">
            <% if (creatures.length) { %>
                <ul>
                    <% creatures.forEach((creature) => { %>
                    <li>
                        <a href="/creatures/<%= creature._id %>"> <%= creature.name %> </a>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
        </div>
        <div id="description" class="thirdcontainer">
        
            <p>DESCRIPTION </p>
        </div>
    </section>
    <div>
    
    </div>

</div>



<%- include('../partials/footer.ejs') %>