<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>


<div>
    <h1 id="intro">Welcome to your Dino's</h1>
    <section class='main'>
        <div class="firstcontainer">
            <img src="https://i.imgur.com/OW6eVPw.png" alt="Ark A logo with adult and baby dinosaurs climbing on it" id="logo">
        </div>
        <div id="content" class="secondcontainer">
            <div class="backgroundimage"></div>
            <div class="subcontainer">
                <% if (creatures.length) { %>
                    <ul>
                        <% creatures.forEach((creature) => { %>
                        <li>
                            <a href="/creatures/<%= creature._id %>" class="anchor"> <%= creature.name %> </a>
                        </li>
                        <% }) %>
                    </ul>
                <% } %>
            </div>
        </div>    
        <div id="description" class="thirdcontainer">
            <p>Getting Started</p>
              <p>Sign Up</p>
              <ul>
                <li>
                  1. Navigate to the **SIGN UP** page via the navigation bar at the top of the page.
                </li>
                <li>
                  2. Create an account by filling out the required information.
                </li>
              </ul>
              <p>Add a Creature</p>
              <ul>
                <li>
                  1. After logging in, you'll be taken to your inventory, which will initially be empty.
                </li>
                <li>
                  2. Click on **ADD A CREATURE** in the navigation bar to bring up a dropdown box.
                </li>
                <li>
                  3. Select the base version of the creature you wish to add. This will create a new entry in your inventory.
                </li>
              </ul>
              <p>Editing Creature Stats</p>
              <ul>
                <li>1. In your inventory, click on the name of any creature to view its detailed stats page.</li>
                <li>2. To customize the creature's stats, click the **EDIT CREATURE** button at the bottom of the page.</li>
                <li>3. Update the fields as necessary, then submit your changes to save the updated stats.</li>
              </ul>      
          </div>   
    </section>    
    <div>
    
    </div>    

</div>



<%- include('../partials/footer.ejs') %>