<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>


<div>
    <h1>Displaying <%= usercreature.name %> </h1>
    <section class='main'>
        <div class="firstcontainer">
            <img src="https://i.imgur.com/OW6eVPw.png" alt="Ark A logo with adult and baby dinosaurs climbing on it" id="logo">
        </div>
        <div id="content" class="secondcontainer">
            <div class="backgroundimage"></div>
            <div class="subcontainer">
                <div id="stats">
                    <h3>Name: <%= usercreature.name %></h3>
                    <p>Level: <%= usercreature.level %></p>
                    <p>Eats: <%= usercreature.eats %></p>
                    <p>Health: <%= usercreature.bs.h.b %></p>
                    <p>Stamina: <%= usercreature.bs.s.b %></p>
                    <p>Oxygen: <%= usercreature.bs.o.b %></p>
                    <p>Food: <%= usercreature.bs.f.b %></p>
                    <p>Weight: <%= usercreature.bs.w.b %></p>
                    <p>Melee: <%= usercreature.bs.d.b %></p>
                    <p>Speed: <%= usercreature.bs.m.b %></p>
                    <p>Torpor: <%= usercreature.bs.t.b %></p>
                    <p>Is carried by: <%= usercreature.carry %></p>
                    <p><%= usercreature.desc %></p>
                    <div class="Btnforms">
                        <form action="/creatures/<%= usercreature._id %>/edit" method="GET">
                            <button type="submit" class="functionbtn">Edit <%= usercreature.name %></button>
                            
                        </form>
                        <form action="/creatures/<%= usercreature._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="functionbtn">DELETE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
        <div id="description" class="thirdcontainer">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni molestiae perspiciatis corrupti ipsam corporis voluptate facere, quis provident quisquam blanditiis reiciendis incidunt nesciunt quam officia iste eveniet, ipsum accusantium voluptas?</p>
        </div>    
    </section>    
    <div>
    </div>   
</div>


<%- include('../partials/footer.ejs') %>