<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<div id="description">
    <p>SUP </p>
</div>
<div id="logoBox">
    <img src="" alt="" id="logo">
</div>

<% if (userCreatures.length) { %>
    <ul>
        <% userCreatures.forEach((creature) => { %>
        <li>
            <a href=""> <%= creature.name %> </a>
        </li>
        <% }) %>
    </ul>
<% } %>

<% if (allCreatures.length) { %>
    <form>
        <select name="name">
        <% allCreatures.forEach((creature) => { %>
            <option><%= creature.name %></option>
        <% }) %>
        </select>
    </form>
  <% } else { %>
    <h1>IT ISNT WORKING YOU DOLT</h1>
  <% } %>

<%- include('../partials/footer.ejs') %>